/* Slider */
.slideTwo {
  background: #333;
  border-radius: 50px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
  height: 30px;
  margin: auto;
  position: relative;
  width: 80px;
}
.slideTwo:after {
  background: #111;
  border-radius: 50px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
  content: '';
  height: 2px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 52px;
}
.slideTwo label {
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: block;
  height: 22px;
  position: absolute;
  left: 4px;
  top: 4px;
  transition: all 0.4s ease;
  width: 22px;
  z-index: 1;
  -moz-webkit-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.slideTwo label:after {
  background: #0068b3;
  border-radius: 50px;
  box-shadow: inset 0 1px 1px black, 0 1px 0 rgba(255, 255, 255, 0.9);
  content: '';
  height: 10px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 10px;
}
.slideTwo input[type=checkbox] {
  visibility: hidden;
}
.slideTwo input[type=checkbox]:checked + label {
  left: 54px;
}
.slideTwo input[type=checkbox]:checked + label:after {
  background: #990000;
}

/* Rounded checkboxes */
.roundedTwo {
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
  height: 28px;
  margin: 20px auto;
  position: relative;
  width: 28px;
}
.roundedTwo label {
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 50px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 white;
  cursor: pointer;
  height: 20px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 20px;
}
.roundedTwo label:after {
  background: transparent;
  border: 3px solid #fcfff4;
  border-right: none;
  border-top: none;
  content: '';
  height: 5px;
  left: 6px;
  opacity: 0;
  position: absolute;
  top: 6px;
  width: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.roundedTwo label:hover::after {
  opacity: 0.3;
}
.roundedTwo input[type=checkbox] {
  visibility: hidden;
}
.roundedTwo input[type=checkbox]:checked + label:after {
  opacity: 1;
}
