hr {
    border-top: 2px solid #a1a1a1;
    padding: 5px;
}
input[type=number] {
    background-color: #000;
    color: #fff;
    padding-left:10px;
    width: 100%;
    height: 100%;
    text-align: center;
}
input[type=button], input[type=number]{
    border: 0;
}
.border {
    border: 2px solid #a1a1a1;
    border-radius: 10px;
    padding: 5px;
}
.blackText {
  color: #000;
}
.data-img-class {
  width: 30%;
}
.image_picker_image {
    max-width: 50px !important;
}
.buttonInputNormal {
    cursor: pointer;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
.blackBackground {
    background-color: black;
    border-color: black;
    color: white;
}
.submitButton {
  border: 0px;
  display: block;
  margin: 20px;
  width: 100%;
}
.checkboxLabel {
  padding-top:15px;
}
.notesContainer {
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.notesTextarea {
  width: 100%;
  height: 200px;
  /*z-index: auto;*/
  position: relative;
  line-height: normal;
  font-size: 13.3333px;
  transition: none;
  overflow: auto;
  background: "transparent" !important;
}
