body {
    overflow-x: hidden;
    width: 100%;
}

.not-active {
    cursor: default;
    pointer-events: none;
}

.inputBoxes {
    border: 2px solid #a1a1a1;
    border-radius: 10px;
    padding: 10px;
}

.border {
    border: 2px solid #a1a1a1;
    border-radius: 10px;
    padding: 5px;
}

.padding {
    padding: 1.6em;
}

.vertcenter {
    padding-bottom: .1em;
    padding-top: .1em;
}

.btn-group-wrap {
    text-align: center;
}

.center {
    text-align: center;
}

.btn.red {
    background: #ff5747;
}

.btn.red span,
.btn.red:after {
    background: #cb4539;
}

.btn.green {
    background: #2bdc33;
}

.btn.green span,
.btn.green:after {
    background: #23b32a;
}

.btn.blue {
    background: #16bfff;
}

.btn.blue span,
.btn.blue:after {
    background: #129acd;
}

@media (min-width: 48em) {
    .btn {
        /*padding: 18px 30px;*/
    }
    .btn:after {
        height: 6px;
    }
}

.btn-center-submit {
    position: absolute;
}

.largeText {
    font-size: 50px;
}

.top-bottom-padding {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    border-top: 2px solid #a1a1a1;
    padding: 5px;
}