$dgr: rgb(20,20,30);
$dgrT: rgba(20,20,30,0);
$mgr: rgb(90,90,100);
$mgrT: rgba(90,90,100,0);
$gr: rgb(40,40,50);
$grT: rgba(40,40,50,0);
$lgr: rgb(140,140,150);
$lgrT: rgba(140,140,150,0);
$bl: rgb(0,0,0);
$blT: rgba(0,0,0,0);
$b: rgb(0,130,255);
$bT: rgba(0,130,255,0);
$y: rgb(255,200,0);
$yT: rgba(255,200,0,0);
$w: rgb(255,255,255);
$wT: rgba(255,255,255,0);

body {
  background-color: $w;
  font-size: 12px;
}
.k-2so {
  background:
    /* gradient-type() pos-x pos-y / size-x size-y */
    /** Head **/
    /* right eye */
    repeating-linear-gradient(90deg,$dgrT 5%,$dgr 5%,$dgr 10%,$dgrT 10%,$dgrT 30%) 14.75em 5.88em / 1.5em 1.25em,
    radial-gradient(100% 100% at center,$w 13%,$lgr 13%,$lgr 18%,$w 18%,$w 25%,$lgr 25%,$lgr 30%,$dgr 33%,$dgr 47%,$dgrT 50%) 14.5em 5.5em / 2em 2em,
    /* left eye */
    repeating-linear-gradient(90deg,$dgrT 5%,$dgr 5%,$dgr 10%,$dgrT 10%,$dgrT 30%) calc(100% - 14.75em) 5.88em / 1.5em 1.25em,
    radial-gradient(100% 100% at center,$w 13%,$lgr 13%,$lgr 18%,$w 18%,$w 25%,$lgr 25%,$lgr 30%,$dgr 33%,$dgr 47%,$dgrT 50%) calc(100% - 14.5em) 5.5em / 2em 2em,
    /* mouth */
    radial-gradient(100% 100% at center,$gr 35%,$dgr 35%,$dgr 46%,$dgrT 50%) 46% 11.75em / 0.75em 0.75em,
    radial-gradient(100% 100% at center,$gr 35%,$dgr 35%,$dgr 46%,$dgrT 50%) 54% 11.75em / 0.75em 0.75em,
    repeating-linear-gradient(90deg,$lgrT 5%,$lgr 5%,$lgr 15%,$lgrT 15%,$lgrT 25%) 50% 11.5em / 2em 1.75em,
    radial-gradient(100% 100% at center,$gr 65%,$grT 65%) 50% 9.25em / 4em 3.75em,
    /* skull */
    radial-gradient(100% 200% at bottom,$gr 49.5%,$grT 50%) 50% 0 / 12em 4em,
    linear-gradient(130deg,$gr 24%,$bl 24%, $bl 55%, $blT 55%) 50% 8.75em / 7em 0.5em,
    linear-gradient(-130deg,$gr 24%,$bl 24%, $bl 55%, $blT 55%) 50% 8.75em / 7em 0.5em,
    linear-gradient(70deg,$grT 4%,$gr 3%,$gr 9%,$dgr 9%,$dgr 11%,$dgrT 11%) 50% 8.5em / 13em 1.5em,
    linear-gradient(-70deg,$grT 4%,$gr 3%,$gr 9%,$dgr 9%,$dgr 11%,$dgrT 11%) 50% 8.5em / 13em 1.5em,
    linear-gradient(90deg,$mgrT 26%,$mgr 26%,$mgr 27.5%,$mgrT 27.5%,$mgrT 32%,$mgr 32%,$mgr 33%,$lgr 33%,$lgr 67%,$mgr 67%,$mgr 68.5%,$mgrT 68.5%,$mgrT 73.5%,$mgr 73.5%,$mgr 75%,$mgrT 75%) 50% 9.25em / 13em 1.5em,
    linear-gradient($mgrT 90%,$mgr 90%) 50% 9.25em / 6.25em 1.5em,
    linear-gradient($gr 88%,$lgr 88%) 50% 4em / 12em 6em,
    linear-gradient(90deg,$gr 2%,$dgr 2%,$dgr 98%,$gr 98%) 50% 6em / 13em 2.5em,
    linear-gradient(60deg,$grT 12%,$gr 12%,$gr 19%,$grT 19%,$grT 26%,$lgr 26%,$lgr 55%,$lgrT 55%) 50% 10em / 13em 1.5em,
    linear-gradient(-60deg,$grT 12%,$gr 12%,$gr 19%,$grT 19%,$grT 26%,$lgr 26%,$lgr 55%,$lgrT 55%) 50% 10em / 13em 1.5em,
    repeating-linear-gradient($gr 5%,$dgr 5%,$dgr 15%,$gr 15%,$gr 25%) 50% 10em / 9.5em 1.5em,
    radial-gradient(100% 100% at center,$lgr 45%,$lgrT 50%) 15.75em 11.5em / 1.25em 1.25em,
    radial-gradient(100% 100% at center,$lgr 45%,$lgrT 50%) calc(100% - 15.75em) 11.5em / 1.25em 1.25em,
    linear-gradient(60deg,$grT 23%,$gr 23%,$gr 45%,$lgr 45%,$lgr 50%,$lgrT 50%) 50% 11.5em / 13em 1.25em,
    linear-gradient(-60deg,$grT 23%,$gr 23%,$gr 45%,$lgr 45%,$lgr 50%,$lgrT 50%) 50% 11.5em / 13em 1.25em,
    
    /** Body **/
    /* upper */
    linear-gradient($gr 10%,$grT 10%,$grT 25%,$gr 25%,$gr 50%,$grT 50%,$grT 75%,$gr 75%) 50% 13em / 3.25em 4.25em,
    linear-gradient($lgr, $lgr) 50% 13em / 2em 4em,
    linear-gradient(90deg,$dgrT 10%,$dgr 10%,$dgr 15%,$dgrT 15%) 50% 28.25em / 3.5em 0.75em,
    linear-gradient($dgrT 80%,$dgr 80%) 19.25em 28em / 1em 1em,
    linear-gradient(90deg,$dgrT 68%,$dgr 68%,$dgr 74%,$dgrT 74%) 50% 28em / 3.5em 1em,
    radial-gradient(100% 100% at center,$bl 45%,$lgr 45%,$lgr 50%,$lgrT 50%) 50% 13.75em / 11em 6em,
    linear-gradient($dgr 8%,$dgrT 8%, $dgrT 92%,$dgr 92%) 50% 28em / 3.5em 2em,
    linear-gradient(90deg,$dgr 5%,$dgrT 5%, $dgrT 95%,$dgr 95%) 50% 28em / 3.5em 2em,
    repeating-linear-gradient($dgrT 10%,$dgr 10%,$dgr 20%,$dgrT 20%,$dgrT 30%,$dgr 30%) 19.25em 32.25em / 1em 2.5em,
    linear-gradient(90deg,$lgr 15%,$dgr 15%,$dgr 30%,$dgrT 30%,$dgrT 70%,$dgr 70%,$dgr 85%,$dgrT 85%) 19em 32.5em / 1.5em 2.25em,
    linear-gradient($lgr 10%,$lgrT 10%) 19em 32.25em / 1.25em 2.5em,
    linear-gradient($lgr 5%,$lgrT 5%, $lgrT 95%,$lgr 95%) 50% 30.25em / 3.5em 4.5em,
    linear-gradient($dgr 3%,$dgrT 3%, $dgrT 97%,$dgr 97%) 50% 27.5em / 4.25em 7.5em,
    linear-gradient(90deg,$dgr 5%,$dgrT 5%, $dgrT 95%,$dgr 95%) 50% 27.5em / 4.25em 7.5em,
    linear-gradient(90deg,$lgr 5%,$lgrT 5%, $lgrT 95%,$lgr 95%) 50% 30.25em / 3.5em 4.5em,
    linear-gradient(90deg,$dgr 5%,$dgrT 5%, $dgrT 95%,$dgr 95%) 50% 26em / 5em 9.25em,
    radial-gradient(100% 200% at center bottom ,$dgrT 45%,$dgr 45%,$dgr 50%,$dgrT 50%) 50% 23.5em / 5em 2.5em,
    radial-gradient(100% 100% at center,$w 45%,$wT 50%) 67% 31em / 0.75em 0.75em,
    radial-gradient(100% 100% at center,$b 45%,$bT 50%) 67% 32em / 0.75em 0.75em,
    linear-gradient($dgr 6%,$dgrT 6%, $dgrT 94%,$dgr 94%) 67.5% 30em / 1.5em 3em,
    linear-gradient(90deg,$dgr 12%,$dgrT 12%, $dgrT 88%,$dgr 88%) 67.5% 30em / 1.5em 3em,
    linear-gradient($dgrT 97%,$dgr 97%) 50% 29.25em / 25.75em 6em,
    radial-gradient(150% 100% at center,$gr 49.75%,$grT 50%) 50% 13.75em / 20.5em 18em,
    radial-gradient(100% 200% at 1% 0%,$grT 11%,$gr 11%,$gr 30%,$grT 30%) 6em 26.25em / 20em 15em,
    radial-gradient(100% 200% at 99% 0%,$grT 11%,$gr 11%,$gr 30%,$grT 30%) calc(100% - 6em) 26.25em / 20em 15em,
    radial-gradient(100% 200% at bottom,$gr 50%,$grT 50%) 50% 29.25em / 24.75em 6em,
    linear-gradient(87deg,$grT 48%,$gr 50%) 5em 29.5em / 1em 5.75em,
    linear-gradient(-87deg,$grT 48%,$gr 50%) calc(100% - 5em) 29.5em / 1em 5.75em,
    /* lower */
    linear-gradient(85deg,$mgrT 10%,$mgr 10%,$mgr 15%,$gr 15%,$gr 20%,$grT 20%) 50% 35.5em / 3em 1.75em,
    linear-gradient(-85deg,$mgrT 10%,$mgr 10%,$mgr 15%,$gr 15%,$gr 20%,$grT 20%) 50% 35.5em / 3em 1.75em,
    linear-gradient($grT 10%,$gr 10%,$gr 15%,$grT 15%,$grT 83%,$gr 83%,$gr 89%,$grT 89%) 50% 35.25em / 2.25em 2.25em,
    linear-gradient(85deg,$mgrT 5%,$mgr 5%,$mgr 55%,$mgrT 55%) 50% 35em / 3em 2.5em,
    linear-gradient(-85deg,$mgrT 5%,$mgr 5%,$mgr 55%,$mgrT 55%) 50% 35em / 3em 2.5em,
    linear-gradient(90deg,$gr 24%,$mgr 25%,$mgr 75%,$gr 76%) 17.75em 40.25em / 0.5em 0.5em,
    radial-gradient(100% 100% at 50% 50%,$grT 25%,$gr 27%,$gr 48%,$grT 50%) 17.75em 40em / 0.5em 0.5em,
    radial-gradient(100% 100% at 50% 50%,$grT 25%,$gr 27%,$gr 48%,$grT 50%) 17.75em 40.5em / 0.5em 0.5em,
    radial-gradient(100% 100% at 50% 50%,$grT 30%,$gr 31%,$gr 40%,$grT 44%) 18.5em 40em / 1em 1em,
    linear-gradient(85deg,$mgrT 10%,$mgr 10%,$mgr 55%,$mgrT 55%) 50% 39.5em / 2.5em 2em,
    linear-gradient(-85deg,$mgrT 10%,$mgr 10%,$mgr 55%,$mgrT 55%) 50% 39.5em / 2.5em 2em,
    linear-gradient(85deg,$mgrT 15%,$mgr 15%,$mgr 60%,$mgrT 60%) 50% 41.75em / 2em 2.75em,
    linear-gradient(-85deg,$mgrT 15%,$mgr 15%,$mgr 60%,$mgrT 60%) 50% 41.75em / 2em 2.75em,
    linear-gradient(85deg,$grT 13%,$gr 13%,$gr 60%,$grT 60%) 50% 41.5em / 2em 3.5em,
    linear-gradient(-85deg,$grT 13%,$gr 13%,$gr 60%,$grT 60%) 50% 41.5em / 2em 3.5em,
    linear-gradient(85deg,$mgrT 42%,$mgr 42%,$mgr 43%,$mgrT 43%,$mgrT 45%,$gr 45%,$gr 45.5%,$dgr 45.5%,$dgr 46%,$dgrT 46%) 50% 35em / 25em 10em,
    linear-gradient(-85deg,$mgrT 42%,$mgr 42%,$mgr 43%,$mgrT 43%,$mgrT 45%,$gr 45%,$gr 45.5%,$dgr 45.5%,$dgr 46%,$dgrT 46%) 50% 35em / 25em 10em,
    repeating-linear-gradient($dgr 8%,$dgrT 8%,$dgrT 16%,$dgr 16%,$dgr 24%,$dgrT 24%) 50% 35.5em / 4.5em 1.5em,
    repeating-linear-gradient($dgr 4%,$dgrT 4%,$dgrT 8%,$dgr 8%,$dgr 12%,$dgrT 12%) 50% 42em / 3.5em 3em,
    repeating-linear-gradient($dgr 5%,$dgrT 5%,$dgrT 18%,$dgr 18%,$dgr 31%,$dgrT 31%) 50% 37.5em / 2.75em 2em,
    radial-gradient(100% 100% at 50% 50%,$gr 57%,$grT 58%) 50% 37em / 4em 4em,
    linear-gradient(-55deg,$mgrT 5%,$mgr 5%,$mgr 16%,$mgrT 18%,$mgrT 82%,$mgr 82%,$mgr 95%,$mgrT 97%) 24.25em 41.25em / 1.5em 1.5em,
    linear-gradient(35deg,$grT 32%,$gr 33%,$gr 65%,$grT 67%) 24.25em 41.25em / 1.5em 1.5em,
    linear-gradient(35deg,$gr 18%,$grT 19%,$grT 82%,$gr 82%) 22.25em 41em / 4em 4em,
    linear-gradient(-55deg,$mgrT 32%,$mgr 33%,$mgr 66%,$mgrT 67%) 22.25em 41em / 4em 4em,
    linear-gradient(-35deg,$gr 33%,$grT 33%) 7.5em 36em / 3em 3em,
    linear-gradient(55deg,$gr 24%,$grT 24%) 10.5em 36em / 3em 3em,
    linear-gradient(55deg,$grT 21.5%,$gr 21.5%,$gr 34%,$grT 34%) 50% 39em / 25em 6em,
    repeating-linear-gradient($dgr 12.5%,$dgrT 12.5%,$dgrT 25%,$dgr 25%,$dgr 37.5%) 19em 45.75em / 1em 1em,
    radial-gradient(100% 100% at 50% 50%,$grT 31%,$gr 35%,$gr 46%,$grT 50%) 16em 48.5em / 0.75em 0.75em,
    linear-gradient(90deg,$grT 72%,$gr 72%,$gr 74%,$grT 74%,$grT 81%,$gr 81%,$gr 83%,$grT 83%) 50% 48em / 6.5em 1.25em,
    linear-gradient(90deg,$grT 81%,$gr 81%,$gr 83%,$grT 83%,$grT 91%,$gr 91%,$gr 93%,$grT 93%) 50% 48em / 6.5em 0.75em,
    linear-gradient(90deg,$grT 27%,$gr 27%,$gr 29%,$grT 29%) 50% 48.5em / 6.5em 0.75em,
    linear-gradient($grT 80%,$gr 80%) 20em 48.5em / 0.5em 0.75em,
    linear-gradient($grT 80%,$gr 80%) 20.5em 48em / 0.75em 0.75em,
    linear-gradient(-55deg,$mgr 49%,$mgrT 50%) 12.13em 48em / 6.5em 0.5em,
    linear-gradient(55deg,$mgr 49%,$mgrT 50%) calc(100% - 12.13em) 48em / 6.5em 0.5em,
    linear-gradient(55deg,$mgrT 49%,$mgr 50%) 13.5em 48.5em / 5em 2.25em,
    linear-gradient(-55deg,$mgrT 49%,$mgr 50%) calc(100% - 13.5em) 48.5em / 5em 2.25em,
    linear-gradient(35deg,$gr 33%,$grT 33%) 26.5em 36em / 3em 3em,
    linear-gradient(-55deg,$gr 24%,$grT 24%) 23.5em 36em / 3em 3em,
    linear-gradient(-55deg,$grT 21.5%,$gr 21.5%,$gr 34%,$grT 34%) 50% 39em / 25em 6em,
    linear-gradient(55deg,$grT 37%,$gr 38%) 12.25em 45em / 7em 6em,
    linear-gradient(-55deg,$grT 37%,$gr 38%) calc(100% - 12.25em) 45em / 7em 6em,
    linear-gradient(85deg,$lgrT 35%,$lgr 35%,$lgr 38%,$dgr 38%,$dgr 38.5%,$mgr 38.5%,$mgr 42%,$dgr 42%,$dgr 42.25%,$mgr 42.25%,$mgr 47%,$mgrT 47%) 50% 35em / 25em 12em,
    linear-gradient(-85deg,$lgrT 35%,$lgr 35%,$lgr 38%,$dgr 38%,$dgr 38.5%,$mgr 38.5%,$mgr 42%,$dgr 42%,$dgr 42.25%,$mgr 42.25%,$mgr 47%,$mgrT 47%) 50% 35em / 25em 12em,
    linear-gradient(-35deg,$w 11%,$wT 11%,$wT 85%,$w 85%) 6.5em 41em / 8em 8em,
    linear-gradient(35deg,$w 11%,$wT 11%,$wT 85%,$w 85%) calc(100% - 6.5em) 41em / 8em 8em,
    
    /** Right arm **/
    /* shoulder */
    linear-gradient(90deg,$dgrT 6%,$dgr 6%,$dgr 10%,$dgrT 10%) 7.63em 16.25em / 4em 0.88em,
    linear-gradient(-27deg,$dgrT 44%,$dgr 44%,$dgr 49%,$gr 49%,$gr 60%,$grT 60%) 5.25em 16.25em / 2.75em 2.75em,
    linear-gradient(-30deg,$grT 56%,$gr 56%,$gr 65%,$grT 65%) 5.25em 16.25em / 2.75em 2.75em,
    linear-gradient(90deg,$dgrT 6%,$dgr 6%,$dgr 10%,$dgrT 10%) 7.63em 18em / 4em 8em,
    linear-gradient(90deg,$dgrT 7%,$dgr 7%,$dgr 10%,$dgrT 10%) 6.13em 19em / 4em 1.25em,
    linear-gradient(90deg,$dgrT 20%,$dgr 20%,$dgr 24%,$dgrT 24%) 5em 19.25em / 4em 1em,
    linear-gradient(90deg,$dgrT 28%,$dgr 28%,$dgr 32%,$dgrT 32%) 4.38em 19.25em / 4em 1.13em,
    linear-gradient(-15deg,$grT 40%,$gr 40%,$gr 76%,$dgr 76%,$dgr 84%,$dgrT 84%) 5.5em 19em / 1em 1.25em,
    linear-gradient(-10deg,$dgrT 16%,$dgr 16%,$dgr 26%,$gr 26%,$gr 60%,$grT 60%) 5.5em 19.25em / 1em 1.25em,
    linear-gradient(90deg,$dgrT 16%,$dgr 16%,$dgr 20%,$dgrT 20%,$dgrT 24%,$dgr 24%,$dgr 28%,$dgrT 28%) 6.5em 21em / 4em 2em,
    linear-gradient(90deg,$dgrT 32%,$dgr 32%,$dgr 36%,$dgrT 36%) 5.5em 22.25em / 4em 0.75em,
    linear-gradient(-5deg,$dgrT 65%,$dgr 65%,$dgr 67%,$dgrT 67%) 5.25em 18em / 2.75em 8em,
    linear-gradient(-20deg,$dgrT 87.5%,$dgr 87.5%,$dgr 89.5%,$dgrT 89.5%) 5.25em 18em / 2.75em 8em,
    linear-gradient(5deg,$grT 18%,$gr 18%,$gr 33%,$dgr 33%,$dgr 35%,$dgrT 35%) 5.25em 18em / 2.75em 8em,
    linear-gradient(20deg,$dgrT 10.75%,$dgr 10.75%,$dgr 12.5%,$gr 12.5%,$gr 25%,$grT 25%) 5.25em 18em / 2.75em 8em,
    linear-gradient(27deg,$dgrT 14%,$dgr 14%,$dgr 15.5%,$dgrT 15.5%) 5.25em 19em / 2.75em 8em,
    linear-gradient(30deg,$dgrT 7%,$dgr 7%,$dgr 9%,$dgrT 9%) 6.5em 19.5em / 1em 8em,
    linear-gradient(90deg,$dgrT 4%,$dgr 4%,$dgr 9%,$dgrT 9%) 7.63em 27em / 4em 0.67em,
    linear-gradient(-30deg,$lgr 77%,$lgrT 77%) 5.25em 16em / 3em 6em,
    linear-gradient(30deg,$lgrT 23%,$lgr 23%) 5.25em 22em / 3em 6em,
    linear-gradient(-30deg,$y 67%,$yT 67%) 4.75em 15.75em / 0.5em 7em,
    linear-gradient(30deg,$yT 33%,$y 33%) 4.75em 22em / 0.5em 6em,
    linear-gradient($bl,$bl) 4em 19em / 0.75em 6em,
    /* arm */
    linear-gradient(-45deg,$gr 76.5%,$grT 77%) 0 18em / 4em 11em,
    linear-gradient($dgrT 43%,$dgr 43%,$dgr 53%,$dgrT 53%) 0.5em 29.5em / 1.25em 3.5em,
    linear-gradient($dgrT 25%,$dgr 25%,$dgr 35%,$dgrT 35%,$dgrT 48%,$dgr 48%,$dgr 58%,$dgrT 58%,$dgrT 71%,$dgr 71%,$dgr 81%,$dgrT 81%) 0.5em 31em / 1em 3.5em,
    linear-gradient(90deg,$dgrT 40%,$dgr 40%,$dgr 48%,$dgrT 48%) 0.5em 31em / 3em 3.25em,
    linear-gradient($bl 3%,$gr 3%) 0.5em 29em / 3.5em 5.25em,
    linear-gradient($lgr 35%,$gr 35%,$gr 43%,$lgr 43%,$lgr 65%,$gr 65%,$gr 73%,$lgr 73%,$lgr 92%,$dgr 92%) 0.5em 34em / 3.5em 2.25em,
    linear-gradient(90deg,$lgrT 5%,$lgr 5%,$lgr 29%,$gr 29%,$gr 35%,$lgr 35%,$lgr 63%,$gr 63%,$gr 69%,$lgr 69%,$lgr 95%,$lgrT 95%) 0.5em 36em / 3.5em 3.5em,
    linear-gradient($gr 17%,$dgr 17%,$dgr 23%,$gr 23%,$gr 37%,$lgr 37%,$lgr 52%,$gr 52%,$gr 60%,$lgr 60%,$lgr 77%,$gr 77%,$gr 83%,$lgr 83%) 0.5em 39.5em / 3.5em 2.5em,
    linear-gradient(87deg,$grT 10%,$gr 11%) 0.5em 42em / 2em 3.5em,
    linear-gradient(-87deg,$grT 10%,$gr 11%) 2em 42em / 2em 3.5em,
    linear-gradient(87deg,$grT 29%,$gr 30%) 0.5em 46.25em / 1.5em 4.5em,
    linear-gradient(87deg,$mgrT 23%,$mgr 24%) 0.5em 45.5em / 2em 6em,
    linear-gradient(-87deg,$grT 27%,$gr 28%) 2.5em 46.25em / 1.5em 4.5em,
    linear-gradient(-87deg,$mgrT 23%,$mgr 24%) 2em 45.5em / 2em 6em,
    linear-gradient(90deg,$dgrT 48%,$dgr 48%,$dgr 52%,$dgrT 52%) 0.5em 51.5em / 3.5em 5em,
    linear-gradient(90deg,$dgrT 56%,$dgr 56%,$dgr 60%,$dgrT 60%) 0.5em 52em / 3.5em 4em,
    linear-gradient($dgrT 5%,$dgr 5%,$dgr 8%,$dgrT 8%) 2.5em 51.75em / 0.88em 4.5em,
    linear-gradient($dgrT 92%,$dgr 92%,$dgr 95%,$dgrT 95%) 2.5em 51.75em / 0.67em 4.5em,
    linear-gradient(87deg,$grT 39%,$gr 40%) 0.5em 51.5em / 1.75em 5em,
    linear-gradient(-87deg,$grT 39%,$gr 40%) 2.25em 51.5em / 1.75em 5em,
    linear-gradient($dgr 25%,$gr 25%,$gr 75%,$dgr 75%) 1.25em 56.5em / 2em 0.5em,
    linear-gradient($gr,$gr) 1.13em 57em / 2.25em 0.5em,
    linear-gradient($lgr 75%,$gr 75%) 1.25em 57.5em / 2em 0.5em,
    linear-gradient($lgr 40%,$gr 40%,$gr 60%,$lgr 60%) 1.13em 58em / 2.25em 0.5em,
    radial-gradient(100% 100% at center,$dgr 24%,$lgr 25%,$lgr 29%,$gr 30%,$gr 34%,$lgr 35%,$lgr 39%,$gr 40%,$gr 44%,$lgr 45%,$lgr 49%,$grT 50%) 1em 58.5em / 2.5em 2.5em,
    linear-gradient($lgr,$lgr) 1.5em 58.5em / 1.5em 0.5em,
    /* thumb */
    linear-gradient(90deg,$lgr 28%,$dgr 28%,$dgr 38%,$gr 38%,$gr 61%,$dgr 61%,$dgr 71%,$lgr 71%) 2.13em 62.5em / 1em 1em,
    linear-gradient($dgr 10%,$dgrT 10%,$dgrT 90%,$dgr 90%) 2.25em 63.5em / 0.75em 1.5em,
    linear-gradient(90deg,$dgr 15%,$gr 15%,$gr 85%,$dgr 85%) 2.25em 63.5em / 0.75em 1.5em,
    linear-gradient(90deg,$lgr 28%,$dgr 28%,$dgr 38%,$gr 38%,$gr 61%,$dgr 61%,$dgr 71%,$lgr 71%) 2.13em 65em / 1em 1em,
    linear-gradient(-180deg,$dgr 15%,$gr 15%) 2.25em 66em / 0.75em 1em,
    /* palm */
    linear-gradient($dgr 5%,$gr 5%) 1em 62.25em / 2.5em 3.5em,
    radial-gradient(100% 200% at center bottom,$gr 54%,$grT 55%) 1em 61em / 2.5em 1.5em,
    /* finger */
    linear-gradient(90deg,$grT 10%,$gr 10%,$gr 90%,$grT 90%) 1.25em 65.75em / 1em 1.5em,
    radial-gradient(100% 100% at center,$lgr 19%,$gr 20%,$gr 29%,$lgr 30%,$lgr 49%,$grT 50%) 1.25em 67.25em / 1em 1em,
    linear-gradient(90deg,$grT 10%,$gr 10%,$gr 90%,$grT 90%) 1.25em 68.25em / 1em 1.25em,
    radial-gradient(100% 100% at center,$lgr 19%,$gr 20%,$gr 29%,$lgr 30%,$lgr 49%,$grT 50%) 1.25em 69.5em / 1em 1em,
    linear-gradient(50deg,$grT 29%,$gr 30%) 1.38em 70.5em / 0.75em 2.25em,
    
    /** Left arm **/
    /* shoulder */
    linear-gradient(90deg,$dgrT 6%,$dgr 6%,$dgr 10%,$dgrT 10%) calc(100% - 4.25em) 16.25em / 4em 0.88em,
    linear-gradient(27deg,$dgrT 44%,$dgr 44%,$dgr 49%,$gr 49%,$gr 60%,$grT 60%) calc(100% - 5.25em) 16.25em / 2.75em 2.75em,
    linear-gradient(30deg,$grT 56%,$gr 56%,$gr 65%,$grT 65%) calc(100% - 5.25em) 16.25em / 2.75em 2.75em,
    linear-gradient(90deg,$dgrT 6%,$dgr 6%,$dgr 10%,$dgrT 10%) calc(100% - 4.25em) 18em / 4em 8em,
    linear-gradient(90deg,$dgrT 7%,$dgr 7%,$dgr 10%,$dgrT 10%) calc(100% - 2.75em) 19em / 4em 1.25em,
    linear-gradient(90deg,$dgrT 20%,$dgr 20%,$dgr 24%,$dgrT 24%) calc(100% - 2.75em) 19.25em / 4em 1.13em,
    linear-gradient(90deg,$dgrT 28%,$dgr 28%,$dgr 31%,$dgrT 31%) calc(100% - 2.75em) 19.25em / 4em 1.18em,
    linear-gradient(15deg,$grT 40%,$gr 40%,$gr 76%,$dgr 76%,$dgr 85%,$dgrT 85%) calc(100% - 5.5em) 19em / 1em 1.25em,
    linear-gradient(10deg,$dgrT 16%,$dgr 16%,$dgr 26%,$gr 26%,$gr 61%,$grT 61%) calc(100% - 5.5em) 19.25em / 1em 1.25em,
    linear-gradient(90deg,$dgrT 16%,$dgr 16%,$dgr 20%,$dgrT 20%,$dgrT 24%,$dgr 24%,$dgr 28%,$dgrT 28%) calc(100% - 4.25em) 21em / 4em 2em,
    linear-gradient(90deg,$dgrT 32%,$dgr 32%,$dgr 36%,$dgrT 36%) calc(100% - 4.25em) 22.25em / 4em 0.75em,
    linear-gradient(5deg,$dgrT 65%,$dgr 65%,$dgr 67%,$dgrT 67%) calc(100% - 5.25em) 18em / 2.75em 8em,
    linear-gradient(20deg,$dgrT 87.5%,$dgr 87.5%,$dgr 89.5%,$dgrT 89.5%) calc(100% - 5.25em) 18em / 2.75em 8em,
    linear-gradient(-5deg,$grT 18%,$gr 18%,$gr 33%,$dgr 33%,$dgr 35%,$dgrT 35%) calc(100% - 5.25em) 18em / 2.75em 8em,
    linear-gradient(-20deg,$dgrT 10.75%,$dgr 10.75%,$dgr 12.5%,$gr 12.5%,$gr 25%,$grT 25%) calc(100% - 5.25em) 18em / 2.75em 8em,
    linear-gradient(-27deg,$dgrT 14%,$dgr 14%,$dgr 15.5%,$dgrT 15.5%) calc(100% - 5.25em) 19em / 2.75em 8em,
    linear-gradient(-30deg,$dgrT 7%,$dgr 7%,$dgr 9%,$dgrT 9%) calc(100% - 6.5em) 19.55em / 1em 8em,
    linear-gradient(-90deg,$dgrT 4%,$dgr 4%,$dgr 9%,$dgrT 9%) calc(100% - 7.63em) 27em / 4em 0.75em,
    linear-gradient(30deg,$lgr 80%,$lgrT 80%) calc(100% - 5.25em) 16em / 3em 7em,
    linear-gradient(-30deg,$lgrT 20%,$lgr 20%) calc(100% - 5.25em) 21em / 3em 7em,
    linear-gradient(30deg,$y 67%,$yT 67%) calc(100% - 4.75em) 15.75em / 0.5em 7em,
    linear-gradient(-30deg,$yT 33%,$y 33%) calc(100% - 4.75em) 22em / 0.5em 6em,
    linear-gradient($bl,$bl) calc(100% - 4em) 19em / 0.75em 6em,
    /* arm */
    linear-gradient(45deg,$gr 76.5%,$grT 77%) 100% 18em / 4em 11em,
    linear-gradient($dgrT 43%,$dgr 43%,$dgr 53%,$dgrT 53%) calc(100% - 0.5em) 29.5em / 1.25em 3.5em,
    linear-gradient($dgrT 25%,$dgr 25%,$dgr 35%,$dgrT 35%,$dgrT 48%,$dgr 48%,$dgr 58%,$dgrT 58%,$dgrT 71%,$dgr 71%,$dgr 81%,$dgrT 81%) calc(100% - 0.5em) 31em / 1em 3.5em,
    linear-gradient(90deg,$dgrT 57%,$dgr 57%,$dgr 62%,$dgrT 62%) calc(100% - 0.5em) 31em / 3em 3.25em,
    linear-gradient($bl 3%,$gr 3%) calc(100% - 0.5em) 29em / 3.5em 5.25em,
    linear-gradient($lgr 35%,$gr 35%,$gr 43%,$lgr 43%,$lgr 65%,$gr 65%,$gr 73%,$lgr 73%,$lgr 92%,$bl 92%) calc(100% - 0.5em) 34em / 3.5em 2.25em,
    linear-gradient(90deg,$lgrT 5%,$lgr 5%,$lgr 29%,$gr 29%,$gr 35%,$lgr 35%,$lgr 63%,$gr 63%,$gr 69%,$lgr 69%,$lgr 95%,$lgrT 95%) calc(100% - 0.5em) 36em / 3.5em 3.5em,
    linear-gradient($gr 17%,$dgr 17%,$dgr 23%,$gr 23%,$gr 37%,$lgr 37%,$lgr 52%,$gr 52%,$gr 60%,$lgr 60%,$lgr 77%,$gr 77%,$gr 83%,$lgr 83%) calc(100% - 0.5em) 39.5em / 3.5em 2.5em,
    linear-gradient(87deg,$grT 10%,$gr 11%) calc(100% - 2em) 42em / 2em 3.5em,
    linear-gradient(-87deg,$grT 10%,$gr 11%) calc(100% - 0.5em) 42em / 2em 3.5em,
    linear-gradient(-87deg,$grT 29%,$gr 30%) calc(100% - 0.5em) 46.25em / 1.5em 4.5em,
    linear-gradient(-87deg,$mgrT 23%,$mgr 24%) calc(100% - 0.5em) 45.5em / 2em 6em,
    linear-gradient(87deg,$grT 27%,$gr 28%) calc(100% - 2.5em) 46.25em / 1.5em 4.5em,
    linear-gradient(87deg,$mgrT 23%,$mgr 24%) calc(100% - 2em) 45.5em / 2em 6em,
    linear-gradient(90deg,$dgrT 48%,$dgr 48%,$dgr 52%,$dgrT 52%) calc(100% - 0.5em) 51.5em / 3.5em 5em,
    linear-gradient(-90deg,$dgrT 56%,$dgr 56%,$dgr 60%,$dgrT 60%) calc(100% - 0.5em) 52em / 3.5em 4em,
    linear-gradient($dgrT 5%,$dgr 5%,$dgr 8%,$dgrT 8%) calc(100% - 2.5em) 51.75em / 0.88em 4.5em,
    linear-gradient($dgrT 92%,$dgr 92%,$dgr 95%,$dgrT 95%) calc(100% - 2.5em) 51.75em / 0.67em 4.5em,
    linear-gradient(87deg,$grT 39%,$gr 40%) calc(100% - 2.25em) 51.5em / 1.75em 5em,
    linear-gradient(-87deg,$grT 39%,$gr 40%) calc(100% - 0.5em) 51.5em / 1.75em 5em,
    linear-gradient($dgr 25%,$gr 25%,$gr 75%,$dgr 75%) calc(100% - 1.25em) 56.5em / 2em 0.5em,
    linear-gradient($gr,$gr) calc(100% - 1em) 57em / 2.5em 0.5em,
    linear-gradient($lgr 75%,$gr 75%) calc(100% - 1.25em) 57.5em / 2em 0.5em,
    linear-gradient($lgr 40%,$gr 40%,$gr 60%,$lgr 60%) calc(100% - 1em) 58em / 2.5em 0.5em,
    radial-gradient(100% 100% at center,$dgr 24%,$lgr 25%,$lgr 29%,$gr 30%,$gr 34%,$lgr 35%,$lgr 39%,$gr 40%,$gr 44%,$lgr 45%,$lgr 49%,$grT 50%) calc(100% - 1em) 58.5em / 2.5em 2.5em,
    linear-gradient($lgr,$lgr) calc(100% - 1.5em) 58.5em / 1.5em 0.5em,
    /* thumb */
    linear-gradient(90deg,$lgr 28%,$dgr 28%,$dgr 38%,$gr 38%,$gr 61%,$dgr 61%,$dgr 71%,$lgr 71%) calc(100% - 2.13em) 62.5em / 1em 1em,
    linear-gradient($dgr 10%,$dgrT 10%,$dgrT 90%,$dgr 90%) calc(100% - 2.25em) 63.5em / 0.75em 1.5em,
    linear-gradient(90deg,$dgr 15%,$gr 15%,$gr 85%,$dgr 85%)calc(100% -  2.25em) 63.5em / 0.75em 1.5em,
    linear-gradient(90deg,$lgr 28%,$dgr 28%,$dgr 38%,$gr 38%,$gr 61%,$dgr 61%,$dgr 71%,$lgr 71%) calc(100% - 2.13em) 65em / 1em 1em,
    linear-gradient(-180deg,$dgr 15%,$gr 15%) calc(100% - 2.25em) 66em / 0.75em 1em,
    /* palm */
    linear-gradient($dgr 5%,$gr 5%) calc(100% - 1em) 62.25em / 2.5em 3.5em,
    radial-gradient(100% 200% at center bottom,$gr 54%,$grT 55%) calc(100% - 1em) 61em / 2.5em 1.5em,
    /* finger */
    linear-gradient(90deg,$grT 10%,$gr 10%,$gr 90%,$grT 90%) calc(100% - 1.25em) 65.75em / 1em 1.5em,
    radial-gradient(100% 100% at center,$lgr 19%,$gr 20%,$gr 29%,$lgr 30%,$lgr 49%,$grT 50%) calc(100% - 1.25em) 67.25em / 1em 1em,
    linear-gradient(90deg,$grT 10%,$gr 10%,$gr 90%,$grT 90%) calc(100% - 1.25em) 68.25em / 1em 1.25em,
    radial-gradient(100% 100% at center,$lgr 19%,$gr 20%,$gr 29%,$lgr 30%,$lgr 49%,$grT 50%) calc(100% - 1.25em) 69.5em / 1em 1em,
    linear-gradient(-50deg,$grT 29%,$gr 30%) calc(100% - 1.38em) 70.5em / 0.75em 2.25em,
    
    /** Right leg **/
    /* leg */
    linear-gradient(55deg,$lgrT 58%,$lgr 58%,$lgr 59.5%,$lgrT 59.5%,$dgrT 61%,$dgr 61%,$dgr 64%,$bl 64%,$bl 64.5%,$dgr 64.5%,$dgr 65.5%,$bl 65.5%,$bl 70%,$dgr 70%,$dgr 71%,$bl 71%,$bl 71.5%,$dgr 71.5%,$dgr 80%,$dgrT 80%) 1.5em 41em / 13em 8em,
    linear-gradient(55deg,$gr 45%,$grT 45%) 8em 42.5em / 5em 6em,
    repeating-linear-gradient(-35deg,$dgr 19%,$dgrT 19%,$dgrT 41%,$dgr 41%,$dgr 54%) 8em 42.5em / 5em 6em,
    linear-gradient(55deg,$lgrT 59%,$lgr 59%,$lgr 61%,$lgrT 61%) 1.5em 41em / 13em 8em,
    radial-gradient(100% 104% at 45% 50%,$gr 50%,$grT 50%) 5.75em 42em / 7em 11em,
    linear-gradient($dgr 1%, $dgrT 1%) 6.38em 57em / 1.63em 14em,
    linear-gradient($dgrT 99%, $dgr 99%) 6.75em 50em / 1.25em 14em,
    linear-gradient(-90deg, $dgr 5%, $dgrT 5%) 5em 57em / 3em 7em,
    linear-gradient($dgr 1%, $dgrT 1%) 10em 53em / 1.88em 12em,
    linear-gradient(90deg, $dgr 8%, $dgrT 8%) 10em 53em / 2em 11em,
    linear-gradient($dgrT 99%, $dgr 99%) 10em 50em / 1.25em 14em,
    linear-gradient(87deg,$grT 19%,$gr 20%) 6em 50em / 3em 15em,
    linear-gradient(-87deg,$grT 19%,$gr 20%) 9em 50em / 3em 15em,
    linear-gradient($dgr 8%,$gr 8%,$gr 23%,$gr 23%,$gr 37%,$lgr 37%,$lgr 52%,$gr 52%,$gr 56%,$lgr 56%,$lgr 73%,$gr 73%,$gr 77%,$lgr 77%,$lgr 95%,$gr 95%) 7em 65em / 4em 3em,
    linear-gradient(90deg,$lgr 29%,$gr 29%,$gr 35%,$lgr 35%,$lgr 63%,$gr 63%,$gr 69%,$lgr 69%) 7em 68em / 4em 4em,
    linear-gradient(0deg,$dgr 8%,$gr 8%,$gr 23%,$gr 23%,$gr 37%,$lgr 37%,$lgr 58%,$mgr 58%,$mgr 72%,$lgr 72%,$lgr 95%,$gr 95%) 7em 72em / 4em 3em,
    linear-gradient($dgr 2%, $dgrT 2%) 10em 77em / 0.88em 8em,
    linear-gradient(90deg, $dgr 20%, $dgrT 20%) 10em 77em / 1em 8em,
    linear-gradient(87deg,$grT 42%,$gr 43%) 6em 75em / 3em 10em,
    linear-gradient(-87deg,$grT 42%,$gr 43%) 9em 75em / 3em 10em,
    radial-gradient(100% 100% at center,$gr 49%,$grT 50%) 8em 84em / 2em 2em,
    linear-gradient(87deg,$dgrT 63%,$dgr 64%) 6em 85em / 3em 10em,
    linear-gradient(-87deg,$dgrT 63%,$dgr 64%) 9em 85em / 3em 10em,
    linear-gradient($dgrT 40%,$dgr 40%,$dgr 60%,$dgrT 60%) 7.75em 95em / 2.5em 1em,
    radial-gradient(100% 100% at center,$gr 57%,$grT 60%) 7.75em 95em / 2.5em 1em,
    linear-gradient(90deg,$lgr 10%,$gr 10%,$gr 14%,$lgr 14%,$lgr 30%,$gr 30%,$gr 34%,$lgr 34%,$lgr 66%,$gr 66%,$gr 70%,$lgr 70%,$lgr 84%,$gr 84%,$gr 88%,$lgr 88%) 7.25em 96em / 3.5em 3em,
    linear-gradient($dgrT 40%,$dgr 40%,$dgr 60%,$dgrT 60%) 7.5em 99em / 3em 1em,
    radial-gradient(100% 100% at center,$gr 56%,$grT 60%) 7.5em 99em / 3em 1em,
    /* foot */
    linear-gradient(-30deg,$dgr 45%,$dgrT 50%) 7.25em 102.5em / 1em 0.5em,
    linear-gradient(-50deg,$gr 72%,$grT 73%) 7.25em 100em / 1em 3em,
    linear-gradient(90deg,$dgr 10%,$dgrT 10%,$dgrT 90%,$dgr 90%) 8.25em 100em / 1.5em 2.5em,
    linear-gradient($dgr 5%,$gr 5%,$gr 83%,$dgr 83%) 8.25em 100em / 1.5em 3em,
    linear-gradient(30deg,$dgr 45%,$dgrT 50%) 9.75em 102.5em / 1em 0.5em,
    linear-gradient(50deg,$gr 72%,$grT 73%) 9.75em 100em / 1em 3em,
    linear-gradient($dgrT 40%,$dgr 40%,$dgr 60%,$dgrT 60%) 7em 103em / 4em 1em,
    linear-gradient(90deg,$gr 30%,$dgr 30%,$dgr 34%,$gr 34%,$gr 66%,$dgr 66%,$dgr 70%,$gr 70%,$gr 84%) 7em 103em / 4em 0.5em,
    linear-gradient(-45deg,$dgr 65%,$dgrT 70%) 8em 104.5em / 1em 0.5em,
    linear-gradient(45deg,$dgr 65%,$dgrT 70%) 9em 104.5em / 1em 0.5em,
    linear-gradient(45deg,$grT 22%,$gr 25%) 7em 103.5em / 2em 1.5em,
    linear-gradient(-45deg,$grT 22%,$gr 25%) 9em 103.5em / 2em 1.5em,
    
    /** Left leg **/
    /* leg */
    linear-gradient(-55deg,$lgrT 58%,$lgr 58%,$lgr 59.5%,$lgrT 59.5%,$dgrT 61%,$dgr 61%,$dgr 64%,$bl 64%,$bl 64.5%,$dgr 64.5%,$dgr 65.5%,$bl 65.5%,$bl 70%,$dgr 70%,$dgr 71%,$bl 71%,$bl 71.5%,$dgr 71.5%,$dgr 80%,$dgrT 80%) calc(100% - 1.5em) 41em / 13em 8em,
    linear-gradient(-55deg,$gr 45%,$grT 45%) calc(100% - 8em) 42.5em / 5em 6em,
    repeating-linear-gradient(35deg,$dgr 19%,$dgrT 19%,$dgrT 41%,$dgr 41%,$dgr 54%) calc(100% - 8em) 42.5em / 5em 6em,
    linear-gradient(-55deg,$lgrT 59%,$lgr 59%,$lgr 61%,$lgrT 61%) calc(100% - 1.5em) 41em / 13em 8em,
    radial-gradient(100% 104% at 55% 50%,$gr 50%,$grT 50%) calc(100% - 5.75em) 42em / 7em 11em,
    linear-gradient($dgr 1%, $dgrT 1%) calc(100% - 6.38em) 57em / 1.5em 14em,
    linear-gradient($dgrT 99%, $dgr 99%) calc(100% - 6.75em) 50em / 1.25em 14em,
    linear-gradient(90deg, $dgr 5%, $dgrT 5%) calc(100% - 5em) 57em / 3em 7em,
    linear-gradient($dgr 1%, $dgrT 1%) calc(100% - 10em) 53em / 1.88em 12em,
    linear-gradient(-90deg, $dgr 8%, $dgrT 8%) calc(100% - 10em) 53em / 2em 11em,
    linear-gradient($dgrT 99%, $dgr 99%) calc(100% - 10em) 50em / 1.25em 14em,
    linear-gradient(-87deg,$grT 19%,$gr 20%) calc(100% - 6em) 50em / 3em 15em,
    linear-gradient(87deg,$grT 19%,$gr 20%) calc(100% - 9em) 50em / 3em 15em,
    linear-gradient($dgr 8%,$gr 8%,$gr 23%,$gr 23%,$gr 37%,$lgr 37%,$lgr 52%,$gr 52%,$gr 56%,$lgr 56%,$lgr 73%,$gr 73%,$gr 77%,$lgr 77%,$lgr 95%,$gr 95%) calc(100% - 7em) 65em / 4em 3em,
    linear-gradient(90deg,$lgr 29%,$gr 29%,$gr 35%,$lgr 35%,$lgr 63%,$gr 63%,$gr 69%,$lgr 69%) calc(100% - 7em) 68em / 4em 4em,
    linear-gradient(0deg,$dgr 8%,$gr 8%,$gr 23%,$gr 23%,$gr 37%,$lgr 37%,$lgr 58%,$mgr 58%,$mgr 72%,$lgr 72%,$lgr 95%,$gr 95%) calc(100% - 7em) 72em / 4em 3em,
    linear-gradient($dgr 2%, $dgrT 2%) calc(100% - 10em) 77em / 0.88em 8em,
    linear-gradient(90deg, $dgrT 80%, $dgr 80%) calc(100% - 10em) 77em / 1em 8em,
    linear-gradient(-87deg,$grT 42%,$gr 43%) calc(100% - 6em) 75em / 3em 10em,
    linear-gradient(87deg,$grT 42%,$gr 43%) calc(100% - 9em) 75em / 3em 10em,
    radial-gradient(100% 100% at center,$gr 49%,$grT 50%) calc(100% - 8em) 84em / 2em 2em,
    linear-gradient(-87deg,$dgrT 63%,$dgr 64%) calc(100% - 6em) 85em / 3em 10em,
    linear-gradient(87deg,$dgrT 63%,$dgr 64%) calc(100% - 9em) 85em / 3em 10em,
    linear-gradient($dgrT 40%,$dgr 40%,$dgr 60%,$dgrT 60%) calc(100% - 7.75em) 95em / 2.5em 1em,
    radial-gradient(100% 100% at center,$gr 57%,$grT 60%) calc(100% - 7.75em) 95em / 2.5em 1em,
    linear-gradient(90deg,$lgr 10%,$gr 10%,$gr 14%,$lgr 14%,$lgr 30%,$gr 30%,$gr 34%,$lgr 34%,$lgr 66%,$gr 66%,$gr 70%,$lgr 70%,$lgr 84%,$gr 84%,$gr 88%,$lgr 88%) calc(100% - 7.25em) 96em / 3.5em 3em,
    linear-gradient($dgrT 40%,$dgr 40%,$dgr 60%,$dgrT 60%) calc(100% - 7.5em) 99em / 3em 1em,
    radial-gradient(100% 100% at center,$gr 56%,$grT 60%) calc(100% - 7.5em) 99em / 3em 1em,
    /* foot */
    linear-gradient(30deg,$dgr 45%,$dgrT 50%) calc(100% - 7.25em) 102.5em / 1em 0.5em,
    linear-gradient(50deg,$gr 72%,$grT 73%) calc(100% - 7.25em) 100em / 1em 3em,
    linear-gradient(90deg,$dgr 10%,$dgrT 10%,$dgrT 90%,$dgr 90%) calc(100% - 8.25em) 100em / 1.5em 2.5em,
    linear-gradient($dgr 5%,$gr 5%,$gr 83%,$dgr 83%) calc(100% - 8.25em) 100em / 1.5em 3em,
    linear-gradient(-30deg,$dgr 45%,$dgrT 50%) calc(100% - 9.75em) 102.5em / 1em 0.5em,
    linear-gradient(-50deg,$gr 72%,$grT 73%) calc(100% - 9.75em) 100em / 1em 3em,
    linear-gradient($dgrT 40%,$dgr 40%,$dgr 60%,$dgrT 60%) calc(100% - 7em) 103em / 4em 1em,
    linear-gradient(90deg,$gr 30%,$dgr 30%,$dgr 34%,$gr 34%,$gr 66%,$dgr 66%,$dgr 70%,$gr 70%,$gr 84%) calc(100% - 7em) 103em / 4em 0.5em,
    linear-gradient(45deg,$dgr 65%,$dgrT 70%) calc(100% - 8em) 104.5em / 1em 0.5em,
    linear-gradient(-45deg,$dgr 65%,$dgrT 70%) calc(100% - 9em) 104.5em / 1em 0.5em,
    linear-gradient(-45deg,$grT 22%,$gr 25%) calc(100% - 7em) 103.5em / 2em 1.5em,
    linear-gradient(45deg,$grT 22%,$gr 25%) calc(100% - 9em) 103.5em / 2em 1.5em;
  
  background-color: inherit;
  background-repeat: no-repeat;
  margin: auto;
  width: 37em;
  height: 105em;
}